[submodule "extlib"]
	path = extlib
	url = ../extlib.git
[submodule "msbuild-def"]
	path = msbuild-def
	url = ../msbuild-def.git
[submodule "netlib"]
	path = netlib
	url = ../netlib.git
[submodule "xercesc_utils"]
	path = xercesc_utils
	url = ssh://github/dmlys/xercesc_utils.git
